.hlo {
    margin-left: 730px;
    margin-top: 230px;
    width: 100px;
}
.world{
    margin-left: 650px;
    margin-top: 30px;
}
.but{
    margin-left: 730px;
    margin-top: 30px; 
    background-color: green;
}